# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# venv / uv
.venv/
.python-version

# env
.env
.env.local

# IDE
.idea/
.vscode/

# Media
.media/

# Builds
dist/
build/
*.egg-info/
